<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>localhost</string>
	<key>port</key>
	<string>8086</string>
	<key>database</key>
	<string>app</string>
	<key>measurement</key>
	<string>label</string>
	<key>activities</key>
	<array>
		<string>Cooking</string>
		<string>Eating</string>
		<string>CleaningRoom</string>
		<string>Bathing</string>
		<string>Sleeping</string>
		<string>ReadingBook</string>
		<string>WashingFace</string>
		<string>WashingDishes</string>
		<string>WatchingTelevision</string>
		<string>CleaningBathroom</string>
		<string>WorkingOnPC</string>
		<string>Dressing</string>
		<string>GoingOut</string>
		<string>Laundry</string>
		<string>PlayingGame</string>
		<string>UsingSmartphone</string>
		<string>BrushingTeeth</string>
		<string>MakingUp</string>
		<string>Other</string>
	</array>
</dict>
</plist>
