<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>database</key>
	<string>app</string>
	<key>measurement</key>
	<string>label</string>
	<key>host</key>
	<string>http://xxx.xxx.xxx.xxx:8086</string>
	<key>activityDict</key>
	<dict>
		<key>cook</key>
		<string>料理</string>
		<key>eat</key>
		<string>食事</string>
		<key>clean_room</key>
		<string>部屋掃除</string>
		<key>bath</key>
		<string>入浴</string>
		<key>sleep</key>
		<string>睡眠</string>
		<key>read_book</key>
		<string>読書</string>
		<key>wash_face</key>
		<string>洗顔</string>
		<key>wash_dishes</key>
		<string>食器洗い</string>
		<key>watch_tv</key>
		<string>TV視聴</string>
		<key>clean_bath</key>
		<string>風呂掃除</string>
		<key>work_on_pc</key>
		<string>PC作業</string>
		<key>dress</key>
		<string>着替え</string>
		<key>go_outside</key>
		<string>外出</string>
		<key>laundry</key>
		<string>洗濯</string>
		<key>play_game</key>
		<string>TVゲーム</string>
		<key>use_phone</key>
		<string>スマホ操作</string>
		<key>brush_teeth</key>
		<string>歯磨き</string>
		<key>makeup</key>
		<string>化粧</string>
		<key>other</key>
		<string>定義外行動</string>
	</dict>
</dict>
</plist>
